@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
    background-color: black;
    color: white;
}

h1 , th {
    text-align: center;
    font-family: 'Josefin Sans' , sans-serif;
    justify-content: center;
}

hr {
    margin: 150px 0 150px 0;
} 

#main-title {
    font-size: 70px;
    margin-top: 90px;
}

#table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 200px;
    margin-bottom: 10%;
}

table {
    width: 100%;
    box-shadow: 12px 12px 10px rgba(255, 255, 255, 0.562);
    border-radius: 35px 35px 35px 35px;
    overflow: hidden;
}

tr > th , td {
    text-align: center;
    /* border: 2px solid white; */
    color: black;
    padding: 20px;
    border: 2px solid white;
}

tr > th {
    font-size: 25px;
    background-color: grey;
    text-transform: uppercase;
    width: 100px;
    height: 50px;
}

tr:nth-child(2n) > td {
    background-color: white;
}

tr:nth-child(2n+1) > td {
    background-color: lightgray;
}

tr > td {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    width: 50px;
}

tr:nth-child(2n):hover > td {
    background-color: grey;
    font-weight: bold;
    padding: 40px;
}

tr:nth-child(2n+1):hover > td {
    background-color: grey;
    font-weight: bold;
    padding: 40px;
}